/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 12-Dec-2021, 5:48:08 PM
    Author     : Irian
*/
p{
    font-size: 70px;
    color:red;
}
body{
    background-color: khaki;
}
img {
	width : 400px;
}
